

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextProLT/AvenirNextLTProRegular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextProLT/AvenirNextLTProDemi.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/AvenirNextProLT/AvenirNextLTProBold.otf') format('opentype');
    font-weight: 700;
}
