$primary: #13182c; // Global text color
$secondary: #ffffff; // Global White color
$background-color:  rgb(245, 245, 245);
$body-background: #d1d1d1;
$cta-button: #232940; 
$dividers-borders: #bdc5d5; 
$table-headers: #5c667e; 
$instock: #2e66e5; 
$out-of-stock: #c94515; 
$cta-background: #f7f8f9; 
$instock-label: #158463; 

// Device breakpoints
$mobile: 320px;
$tablet: 768px;
$laptop: 1280px;
$desktop: 1440px;


