@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.forgot-password{
    background-image: url(../../assets/images/electrician.jpg);
    width: 100%;
    background-repeat: repeat-x;
    animation: slideleft 10s infinite linear;
    -webkit-animation: slideleft 10s infinite linear;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;

    &__title{
        @include lower-header;
        margin: 0px;
        color: $secondary;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        padding: 3rem 0px;
    }

    &__wrap{
        background: rgba(0, 0, 0, 0.3);
        min-height: 100vh;
    }

    &__form-wrap{
        max-width: 288px;
        margin: 0 auto;
        position: relative;
        z-index: 999;
        padding: 3em 2em;
        background: rgba(255, 255, 255, 0.04);
        -webkit-box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
        -moz-box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 4px 28px 0px rgb(0 0 0 / 75%);
    }
    &__error-message{
        width: 100%;
        @include lower-header;
        color: rgba(255, 0, 0, 0.918);
        margin: 0px 0px 20px;
    }
    &__success-message{
        width: 100%;
        @include lower-header;
        color: $secondary;
        margin: 0px 0px 20px;
    }
    &__label{
        color: $secondary;
        @include sub-header;
    }

    &__input{
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        border: none;
        padding-left: 0.5rem;
    }
    
    &__note{
        color: $secondary;
        @include paragraph;
    }
   
    &__btn{
        width: 100%;
        height: 2rem;
        background-color: $cta-button;
        color: $secondary;
        border: none;
        margin-bottom: 1rem;
    }
    &__cancel{
        background-color: none;
        color: $secondary;
        outline: none;
        background-color:  rgba(0, 0, 0, 0);
        border: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
   
    @include tablet-up {

        &__title{
            @include header;
        }
        &__form-wrap{
            max-width: 400px;
        }
        &__error-message{
            @include header;
        }
        &__label{
           font-size: 1.2rem;
        }
        &__input{
            height: 2.5rem;
        }
        &__btn{
            height: 2.5rem;
        }
        &__cancel{
            height: 2.5rem;
        }
    }

}



@keyframes slideleft {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}



