@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;



.service-provided{
    padding: 2rem 1rem;

    &__button{
        border-radius: 4px;
        box-shadow: 5px 5px grey;
        margin-bottom: 3rem;
    }

    @include tablet-up {
        padding: 2rem 1.5rem;
    }


    @include laptop-up {
        padding: 3rem 11.25rem;
    }
}
