@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

* {
    box-sizing: border-box;
}


body {
    color: $primary;
    font-family: "Avenir Next";
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a,
p,
button,
input,
label{
    font-family: "Avenir Next";
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}


span{

    margin: 0px;
}
// .services{
    // display: flex;
    // flex-direction: column;
    // height: 70vh;
    // align-items: center;
    // justify-content: center;

// }

button {
    &:hover {
        cursor: pointer;
    }
}


